# jupyter markdown
## jupyter markdown
### jupyter markdown
#### jupyter markdown
##### jupyter markdown

- point1
   - sub point 1.1
   - **sub point 1.2**
   - ***sub point 1.3***
   - ****sub point 1.4****
- point2
- point3

### python introduction
- python 3
- python can be used as functional programing
- python can be used as scripting programing
- python intially designed by **guido van rossum** in 1981

In [1]:
# Input and Output Function
# Output Function
print("hello world")
print ("welcome to python programming")

hello world
welcome to python programming

In [2]:
print("markdown cell",end ='')
print("code cell")

markdown cellcode cell

In [3]:
#input Function
print("enter your name :")
a=input('')
print('your name is',a)

enter your name :
Nikhil Meda
your name is Nikhil Meda

In [4]:
x = 10
type(x)

int

In [5]:
y = 12
x+y

22

# functional datatypes of python
### int
### float
### complex
### boolean
### string

In [8]:
x = 10
y = 10.5
print(x + y)
type(x+y)

20.5

float

In [9]:
c=2+2j
d=3+3j
c+d

(5+5j)

In [11]:
# typecasting
a=12.5
print(int(a))
print(complex(a))

12
(12.5+0j)

In [12]:
complex(3,4)

(3+4j)

In [13]:
# boolean datatype
## true
## false

In [16]:
a = True
type(a)

bool

In [17]:
b = False
type(b)

bool

In [18]:
# string
a = "python"
b = "p"
print(type(a))
print(type(b))

<class 'str'>
<class 'str'>

In [22]:
a="100"
print(type(a))
b=int(a)
print(type(b))
c=float(a)
print(type(c))

<class 'str'>
<class 'int'>
<class 'float'>

In [23]:
a='1234'
len(a)

4

In [24]:
a=1234
len(str(a))

4

# operaters:
### arthimetic operater
### +,-,*,/,%,//,**

In [25]:
123/5

24.6

In [26]:
123//5

24

In [28]:
a = 3
b = 2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

5
1
6
1.5
1
1
9

# logical operaters:
### and,or,not

In [31]:
x=12
y=5
print(x>=20 and y<=3)
print(x>=20 or y>2)
not x

False
True

False

# relational operaters:
## <,<=,>,>=,==,!=

In [32]:
x=2
y=3
print(x==y)
print(x>=y)
print(x<=y)
print(x<y)
print(x>y)
print(x==y)
print(x!=y)

False
False
True
True
False
False
True

# membership operator:
## in not in

In [38]:
a="python"
print("p" in a)
print('P' in a)
print('p' not in a)
print('z' not in a)

True
False
False
True

# conditional statements
## if(single condition)
## if else(two condition)
### elif(multiple conditions)

# syntax

## if condition:
    - statements

In [41]:
# To check the given number is even or odd 
a=input("enter a number")

enter a number5

In [42]:
type(a)

str

In [46]:
a=int(input("enter a number"))
if a%2==0:
    print("even")

enter a number8
even

In [47]:
# if - else:
a=int(input("enter a number"))
if a%2==0:
    print("even")
else:
    print("odd")

enter a number5
odd

In [49]:
# check wheter number is divisible by 3 or 5
a=int(input("enter a number"))
if a%3==0 and a%5==0:
    print("number is divisible by 3 and 5")
else:
    print("number is not divisible by 3 and 5")

enter a number15
number is divisible by 3 and 5

In [52]:
# check wheter number is positive or negative or zero
n= int(input(""))
if n>0:
    print("positive")
elif n<0:
    print("negative")
elif n==0:
    print("zero")

5
positive

In [ ]:
# leap year ot not
year %400==0
year %4==0
year %100!=0

In [56]:
year=int(input(""))
if(year%400==0 and year%4==0 and year%100!=0):
    print("year is leap year")
else:
    print("year is not a leap year")

2013
year is not a leap year

# looping statements:
### while loop
### for loop

# syntax
    - while condition:
        - statements:

In [58]:
# print numbers from 1 to n
n= int(input(''))
i=1
while i<=n:
    print(i)
    i+=1

7
1
2
3
4
5
6
7